.about {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
}

.about__wrapper {
  .container();
}

.about__can-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

.about__blockquote {
  color: @white;
  text-align: center;
  margin-bottom: 29px;
}

.about__title {
  color: @white;
  text-align: center;
  line-height: 1;
  margin-top: 29px;
  margin-bottom: 19px;
}
