.about {
  min-height: 502px;
  position: relative;
  padding-top: 29px;
  box-sizing: border-box;

  //   &::after {
  //     position: absolute;
  //     content: "";
  //     width: 100vw;
  //     height: 305px;
  //     background-color: #65a93c;
  //     left: calc((100vw - 280px) / -2);
  //     top: 0;
  //     z-index: -2;
  //   }
}

.about__background-image {
  margin: 0 -20px;
  position: absolute;
  z-index: -1;
  top: 0;
}

.about__can-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
}

.about__blockquote {
  color: @white;
  text-align: center;
  margin-bottom: 29px;
}

.about__title {
  color: @white;
  text-align: center;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 19px;
}

.about__pick-up {
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .about {
    min-height: 867px;
    position: relative;
    background-image: none;
    margin: 0;
    padding: 28px 203px 0 87px;

    &::after {
      content: none;
    }
  }

  .about__background-image {
    display: none;
  }

  .about__title {
    color: @black;
    font-size: 60px;
    text-align: left;
    margin-bottom: 41px;
  }

  .about__blockquote {
    color: @black;
    text-align: left;
    font-size: 20px;
    margin-bottom: 48px;
  }

  .about__can-image {
    width: 709px;
    height: 609px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 0;
  }

  .about__pick-up {
    width: 245px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    min-height: 663px;
    padding: 109px 600px 0 80px;

    &::after {
      content: "";
      width: calc((100vw - 1220px) / 2);
      height: 696px;
      top: -113px;
      left: auto;
      right: calc((100vw - 1220px) / -2);
    }
  }

  .about__background-image {
    display: block;
    top: -113px;
    right: -90px;
    width: 720px;
    height: 696px;
  }

  .about__blockquote {
    margin-bottom: 53px;
  }

  .about__can-image {
    width: 552px;
    height: 499px;
    left: 450px;
    top: 28px;
  }
}
