.button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: @leaf;
  color: @white;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 40px;
  letter-spacing: normal;
  font-size: 16px;
  height: 40px;
}

.button:hover {
  background-color: @button-hover;
}

.button:active {
  background-color: @button-down;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 20px;
    height: 52px;
    line-height: 52px;
  }
}
