.contacts {
  background-color: @light-gray;

  &--index {
    background-color: @white;
  }
}

.contacts__wrapper {
  min-height: 114px;
  display: flex;
  align-items: center;
}

.contacts__title {
  font-size: 16px;
  color: @black;
  margin-right: 25px;
  line-height: 1.25;
  font-weight: normal;
  text-transform: uppercase;
}

.contacts__text {
  line-height: 1.43;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    min-height: 201px;
    justify-content: space-between;
  }

  .contacts__title {
    font-size: 20px;
    width: 200px;
  }

  .contacts__divider {
    display: block;
    height: 16px;
  }

  .contacts__text {
    width: 190px;
    line-height: 1.25;
    text-align: end;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    position: absolute;
    box-sizing: border-box;
    width: 570px;
    height: 201px;
    background: @white;
    padding: 0 76px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 2;
  }

  .contacts__title {
    margin-right: 50px;
  }

  .contacts__text {
    text-align: start;
  }
}
