.example__wrapper {
  .container();
}

.example__cost {
  color: @black;
  line-height: 1.43;
  text-align: center;
}

.example__point {
  color: @black;
  line-height: 1.25;
  font-size: 16px;
  text-transform: uppercase;
}
