.example {
  background-color: @white-three;
}

.example__wrapper {
  min-height: 705px;
}

.example__result-block {
  padding-top: 29px;
}

.example__title {
  margin-top: 0;
  margin-bottom: 35px;
}

.example__description {
  padding-right: 5px;
  margin-bottom: 25px;
}

.example__cost {
  color: @black;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 35px;
}

.example__interactive {
  width: 320px;
  height: 320px;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .example {
    // prettier-ignore
    background: linear-gradient(to bottom, @white 0%, @white 57%, @white 57%, @light-gray 57%, @light-gray 100%);
  }

  .example__wrapper {
    min-height: 1081px;
  }

  .example__result-block {
    padding-top: 42px;
    height: 406px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
  }

  .example__title {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .example__description {
    line-height: 1.5;
    padding-right: 10px;
    margin-bottom: 52px;
  }

  .example__cost {
    display: block;
    font-size: 20px;
    line-height: 28px;
    width: 190px;
    padding-top: 8px;
    text-align: end;
  }

  .example__interactive {
    width: 690px;
    height: 580px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .example {
    // prettier-ignore
    background: linear-gradient(to bottom, @white 0%, @white 30%, @white 30%, @light-gray 30%, @light-gray 100%);
  }

  .example__wrapper {
    min-height: 652px;
    display: flex;
  }

  .example__result-block {
    padding-top: 55px;
    width: 474px;
    height: 100%;
  }

  .example__title {
    margin-bottom: 131px;
  }

  .example__description {
    padding-right: 40px;
    margin-bottom: 68px;
  }

  .example__cost {
    width: 100%;
    text-align: start;
  }

  .example__cost-whitespaces {
    width: 55px;
    display: inline-block;
  }

  .example__interactive {
    margin-left: auto;
    margin-right: 0;
  }
}
