.gift {
  &__wrapper {
    .container();
  }

  &__background {
    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    width: 280px;
    height: 289px;
  }
}
