.item {
  border-top: 1px solid @light-gray;
  display: flex;
  flex-wrap: wrap;
}

.item__points td {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
}

.item__title {
  font-size: 16px;
  font-weight: normal;
  color: @black;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .item__points {
    width: 100%;
  }
}
