.more {
  border-top: 1px solid @light-gray;
  border-bottom: 1px solid @light-gray;
}

.more__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/icon-plus-mobile.svg");
  background-size: 31px 31px;
  background-repeat: no-repeat;
  background-position: center 25px;
}

.more__title {
  width: 100%; // IE11 fix
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: @black;
  text-transform: uppercase;
  margin-top: 79px;
  margin-bottom: 0;
  text-align: center;
}

.more__description {
  width: 100%; // IE11 fix
  line-height: 1.33;
  font-size: 12px;
  margin-top: 9px;
  margin-bottom: 0;
  text-align: center;
}

.more__button {
  margin-top: 21px;
  background-color: @white-three;
  color: @greyish-brown;

  &:hover {
    background-color: @white-seven;
  }

  &:active {
    background-color: @white-seven;
    color: fade(@greyish-brown, 30%);
  }
}

@media (min-width: @tablet-width) {
  .more {
    border: 1px solid @light-gray;
    padding-top: 0;
  }

  .more__wrapper {
    padding-top: 27px;
    width: auto;
    background-image: url("../img/icon-plus.svg");
    background-size: 61px 61px;
    background-position-y: 53px;
  }

  .more__title {
    font-size: 20px;
    line-height: 1;
    text-align: center;
    padding: 0 50px;
    margin-top: 135px;
  }

  .more__description {
    font-size: 16px;
    text-align: center;
    margin-top: 27px;
    padding: 0 20px;
    line-height: normal;
  }

  .more__button {
    margin-top: 85px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .more__title {
    padding: 0 10px;
  }

  .more__description {
    padding: 0;
  }
}
