.page-header__wrapper {
  width: 320px;
  min-height: 65px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  // TODO: temp
  background-color: rgba(255, 0, 0, 0.5);
}

.page-header__main {
  border-bottom: 1px solid @light-gray;
  height: 65px;
}

.page-header__toggle {
  font-size: 0;
  width: 25px;
  height: 19px;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    width: 708px;
    min-height: 83px;
    flex-direction: row;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__main {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 1220px;
    min-height: 113px;
  }
}
