.social {
  &__wrapper {
    .container();
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
  }

  &__link {
    font-size: 0;
    display: inline-block;
  }

  &__link--vkontakte {
    width: 22px;
    height: 12px;
    background-image: url("../../img/icon-vk.svg");
    background-repeat: no-repeat;
  }

  &__link--instagram {
    width: 17px;
    height: 17px;
    background-image: url("../../img/icon-insta.svg");
    background-repeat: no-repeat;
  }

  &__link--facebook {
    width: 10px;
    height: 19px;
    background-image: url("../../img/icon-fb.svg");
    background-repeat: no-repeat;
  }
}
