.social {
  background-color: @light-gray;
}

.social__wrapper {
  min-height: 236px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 39px;
}

.social__logo {
  text-align: center;
  margin-bottom: 26px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__list {
  display: flex;
  align-items: center;
  height: 62px;
  border-top: 1px solid @border;
  border-bottom: 1px solid @border;
}

.social__link {
  font-size: 0;
  display: block;
  fill: @brownish-grey;

  &:hover {
    fill: @leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__vk {
  margin-left: 73px;
}

.social__instagram {
  margin-left: 37px;
}

.social__fb {
  width: 10px;
  height: 19px;
  margin-left: 39px;
}

.social__academy {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  fill: @brownish-grey;

  &:hover {
    fill: @leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__academy-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: @greyish-brown;
}

@media (min-width: @tablet-width) {
  .social__wrapper {
    min-height: 150px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .social__logo {
    margin: 0;
  }

  .social__list {
    flex-grow: 1;
    border: none;
  }

  .social__vk {
    width: 30px;
    height: 16px;
    margin-left: 157px;
  }

  .social__instagram {
    width: 23px;
    height: 23px;
    margin-left: 27px;
  }

  .social__fb {
    width: 14px;
    height: 28px;
    margin-left: 29px;
  }

  .social__academy {
    flex-grow: 0;
  }

  .social__academy-text {
    margin-right: 10px;
  }
}

@media (min-width: @desktop-width) {
  .social__vk {
    margin-left: 413px;
  }
}
